/* FOR MAIN CONTENT */
/* MOBILE DESIGN */
div.main-content{
  display: grid;
  grid-template-columns: 10px 1fr 10px;
  margin-top: 35px;
}
textarea{
  height: 110px;
}
div.btn_add_search{
  grid-column: span 3;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}
ul{
  grid-column: span 3;
}
div.toggleform{
  border-radius: 5px;
  background-color: rgb(240, 236, 236); 
  width: 370px;
  padding: 10px;
  margin: 40px auto;
  position:absolute;
  grid-column: span 3;
  box-shadow: 3px 5px 15px rgba(214, 210, 210, 0.671); 
  margin-bottom: 20px;
}
div.toggleform button{
  display: flex;
  float: right;
  margin-bottom: 10px;
}
div.listOfSchedule{
  display: grid;
  grid-template-columns: repeat(10, .50fr);
  grid-template-rows: repeat(4, .15fr);
  margin-bottom: 20px;
  box-shadow: 3px 5px 15px rgba(214, 210, 210, 0.671); 
  padding: 11px;
  border-radius: 5px;
}
div.listOfSchedule h3{
  grid-column: span 9;
  grid-row: 2;
  text-transform: capitalize;
}
div.listOfSchedule p{
  grid-column: span 10;
  grid-row: 3;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 5px;
}
div.listOfSchedule span{
  grid-column: span 10;
  grid-row: 4;
}
div.listOfSchedule_icons{
  display: flex;
  grid-column: 10 / -1;
  gap: 15px;
}
.icon_delete:hover{
 color: orangered;
 cursor: pointer;
}
.icon_edit:hover{
  color: orange;
  cursor: pointer;
}
.icon_calendar{
  color: gray;
  width: 20px;
  height: 20px;
}
@media screen and (min-width: 768px){
  div.main-content{
    display: grid;
    grid-template-columns: 1fr .10fr 1fr;
    grid-template-rows: .10fr 1fr;
  }
  ul{
    grid-column: 3 / -1;
    grid-row: span 3;
  }
  div.btn_add_search{
    grid-column: 1 / 2;
  }
  div.toggleform{
    border-radius: 5px;
    background-color: rgb(240, 236, 236); 
    width: 370px;
    padding: 10px;
    margin: 70px auto;
    grid-column: span 3;
    box-shadow: 3px 5px 15px rgba(214, 210, 210, 0.671); 
    margin-bottom: 20px;
  }
  .icon_delete, .icon_edit{
    width: 20px;
    height: 20px;
  }
  .userProfile{
    background-color: rgba(128, 128, 128, 0.404);
    width: 40px;
    height: 40px;
    border: solid 2px orangered ;
    border-radius: 50%;
  }
}