body{
  font-family: verdana;
}
form{
  border-bottom: solid 1px rgb(216, 216, 216);
  padding: 20px;
  margin-top: -8px;
  margin-bottom: 10px;
}
ul{
  list-style-type: none;
}
li{
  border-bottom: solid 1px rgb(216, 216, 216);
  margin-top: 20px;
}
div.apptList{
  display: grid;
  grid-template-columns: repeat(6, .25fr);
  grid-template-rows: repeat(4, .25fr);
}
div.apptList button{
  grid-column: 5 / -1;
  grid-row: 1;
  border: none;
  background-color: transparent;
}
div.apptList h4{
  grid-column: span 3;
  grid-row: 1;
}
div.apptList h6{
  grid-column: span 3;
  grid-row: 2;
}
div.apptList p{
  grid-column: span 6;
  grid-row: 3;
}
div.apptList span{
  grid-column: 5 / -1;
  grid-row: 2;
}
.search input[type="search"]{
 border-top-right-radius: 0px;
 border-bottom-right-radius: 0px;
}
.search button{
  border-top-left-radius: 0px;
 border-bottom-left-radius: 0px;
}
.search{
  display: flex;
}
/* FOR MAIN CONTENT */
/* MOBILE DESIGN */
div.main-content{
  display: grid;
  margin-top: 35px;
}
textarea{
  height: 110px;
}
div.btn_add_search{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}
div.toggleform{
  border-bottom: solid 1px  rgba(214, 210, 210, 0.322); 
  margin-bottom: 20px;
}
div.toggleform button{
  display: flex;
  float: right;
  margin-bottom: 10px;
}
div.listOfSchedule{
  display: grid;
  grid-template-columns: repeat(10, .50fr);
  grid-template-rows: repeat(4, .15fr);
  margin-bottom: 20px;
  box-shadow: 3px 5px 15px rgba(214, 210, 210, 0.671); 
  padding: 11px;
  border-radius: 5px;
}
div.listOfSchedule h3{
  grid-column: span 9;
  grid-row: 2;
  text-transform: capitalize;
}
div.listOfSchedule p{
  grid-column: span 10;
  grid-row: 3;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 5px;
}
div.listOfSchedule span{
  grid-column: span 10;
  grid-row: 4;
}
div.listOfSchedule_icons{
  display: flex;
  grid-column: 10 / -1;
  gap: 15px;
}
.icon_delete:hover{
 color: orangered;
}
.icon_edit:hover{
  color: orange;
}
.icon_calendar{
  color: gray;
  width: 20px;
  height: 20px;
}